@model IEnumerable<TaskModel>
@{
	ViewData["Title"] = "Task Management System";
}

<h2 class="text-3xl font-bold text-gray-800 mb-6">@ViewData["Title"]</h2>
<div class="mb-6 flex items-center justify-between">
	<div class="w-full max-w-md flex gap-2">
		<input type="text" id="searchInput" class="flex-grow px-4 py-2 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400" placeholder="Search tasks by title or description..." />
		<button id="btnSearch" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition btn btn-secondary">Search</button>&nbsp;
		<button class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600 transition btn btn-primary" onclick="Edit('0')"> Add New Task</button>
	</div>
</div>
<br />

<div id="taskList">
	<table class="table-bordered table-responsive table-striped">
		<thead class="bg-gray-100">
			<tr>
				<th class="text-left py-2 px-4">Sr.No.</th>
				<th class="text-left py-2 px-4">Title</th>
				<th class="text-left py-2 px-4">Description</th>
				<th class="text-left py-2 px-4">DueDate</th>
				<th class="text-left py-2 px-4">Status</th>
				<th class="text-left py-2 px-4">Remarks</th>
				<th class="text-left py-2 px-4">CreatedOn</th>
				<th class="text-left py-2 px-4">LastUpdatedOn</th>
				<th class="text-left py-2 px-4">Actions</th>
			</tr>
		</thead>
		<tbody id="taskTableBody">
			@if (Model.Count() > 0 && Model.Any())
			{
				int i = 0;
				@foreach (var task in Model)
				{
					i++;
					<tr>
						<td>@i</td>
						<td>@task.TaskTitle</td>
						<td>@task.TaskDescription</td>
						<td>@task.TaskDueDate.ToString("dd-MM-yyyy")</td>
						<td>@task.TaskStatus</td>
						<td>@task.TaskRemarks</td>
						<td>@task.CreatedOn.ToString("dd-MM-yyyy")</td>
						<td>@(task.LastUpdatedOn.HasValue ? @task.LastUpdatedOn.Value.ToString("dd MMM yyyy hh:mm tt") : "Not updated")</td>
						<td width="200px"><button class="btn btn-sm btn-primary" onclick="Edit(@task.TaskID)">Edit</button>&nbsp;<button class="btn btn-sm btn-secondary" onclick="Information(@task.TaskID)">Detail</button>&nbsp;<button class="btn btn-sm btn-danger" onclick="DeleteTask(@task.TaskID)">Delete</button></td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="9"><center><span class="text-danger">No Data Available..</span></center></td>
				</tr>
			}
		</tbody>
	</table>
</div>
<script>
	$('#btnSearch').click(function () {
				var searchTerm = $('#searchInput').val();
				$.ajax({
					url: '/Home/GetAll',
					type: 'POST',
					data: { searchTerm: searchTerm },
					success: function (result) {
						$('#partialView').html(result);
					},
					error: function () {
						alert('Error fetching task list.');
					}
				});
			});

			$('#searchInput').keypress(function (e) {
				if (e.which === 13) {
					$('#btnSearch').click();
				}
			});
</script>
